<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="logModel" value="${callsite:includeSourcePath=false:methodName=false}" />
  <targets>
    <target name="logFile"
            xsi:type="File"
            fileName="${logDirectory}/app_log_${shortdate}.log"
            layout="${longdate}|${logModel}|${uppercase:${level}}|${message} ${exception}"/>
    <target name="errorFile"
            xsi:type="File"
            fileName="${logDirectory}/app_error_${shortdate}.log"
            layout="${longdate}|${logModel}|${uppercase:${level}}|${message} ${exception}"/>
    <target name="logConsole" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
